<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <h1></h1>

  <body background="https://mybucketenrico.s3.eu-central-1.amazonaws.com/cta-bg.jpg">

    <a href="/index99" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi portafoglio con
      elementi problematici </a>
    <a href="/index98" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Nuova Analisi portafoglio
      con elementi problematici e B/E point </a>
    <a href="/index100" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Nuova Analisi
      portafoglio con elementi problematici e B/E point (nuova versione) </a <br></br>
    
    <a href="/index8" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ultimate analisi di portafoglio </a>

    <a href="/index1" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi di portafoglio parziale un determinato simbolo </a>
    




    <br></br>

    <a href="/index97" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">importa dati di portafoglio con elevatissimo rischio di assegnazione </a>

    <a href="/index5" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">importa dati di
      portafoglio con rischio elevato di assegnazione </a>
    <a href="/index15" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Opzioni short con delta
      tra 35 e 49 da vedere se rollare </a>
    <a href="/index19" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">importa dati di
      portafoglio da gestire_ITM ordinato per valore temporale </a>
    <a href="/index28" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">importa dati di
      portafoglio da gestire_ITM ordinato per valore temporale percentuaale </a>

    <br></br>
    <br></br>
    <br></br>

    <a href="/index21" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">opzioni a 50 DTE da vedere se andare invertito </a>

    <a href="/index36" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi di una determinata posizione </a>
    

    <a href="/index6" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">importa dati di
      portafoglio da rollare con profitto </a>

    <a href="/index40" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Visualizza le opzioni sulle quali eventualmente prendere profitto </a> 

    <a href="/index43" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi delle posizioni da chiudere per allocare il capitale su di una nuova scadenza </a>  

    <a href="/index44" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi delle posizioni da smorzare come insider academy </a>

    <br></br>


    <a href="/index11" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi bilanciamento
      Delta</a>
    <a href="/index24" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi bilanciamento
      Delta Titolo/scadenza</a>
    <a href="/index13" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Calcolo Theta di
      Portafoglio </a>
    <a href="/index26" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi opzioni con il
      minore Theta </a>
    <a href="/index14" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Calcolo Totale valore
      temporale di Portafoglio </a>

    <a href="/index34" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Calcolo valore temporale residuo per scadenza </a>

    <a href="/index32" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi opzioni con il maggiore gamma </a>

    <a href="/index33" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi opzioni con il maggiore vega </a>

    <a href="/index31" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Visualizza tutte le opzioni long </a>

   

    <br></br>
    <br></br>

    <a href="/index9" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades
      titolo/scadenza ordinate per perdita</a>
    <a href="/index16" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades
      titolo/scadenza ordinate per simbolo</a>
    <a href="/index27" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades
      titolo/scadenza ordinate per scadenza e simbolo</a>
    <a href="/index29" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades
      titolo/scadenza ordinate per scadenza e simbolo di un determinato mese</a>  


    <a href="/index18" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades
      titolo/scadenza ordinate per simbolo e ancora aperte</a>

    <a href="/index37" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades
      titolo/scadenza ordinate per simbolo e ancora aperte ordinate per  mese</a>

    <a href="/index10" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades titolo</a>
    <a href="/index12" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades titolo
      dettaglio</a>
    <a href="/index17" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades ancora
      aperte</a>
    <a href="/index20" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades fino ad
      adesso completamente chiuse </a>

    <br></br>
    <br></br>

    <a href="/index25" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trades di un
      determinato mese </a>
  

    <a href="/index38" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi dei movimenti_anno relativi ad un titolo/scadenza </a>
    <a href="/index22" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi dei movimenti_anno relativi ad un titolo/scadenza  </a>  
    <a href="/index39" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi dei movimenti_anno relativi ad una determinata scadenza  </a> 
    <a href="/index41" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi globale titolo/data esecuzione  </a> 


    <br></br>
    <br></br>

    <a href="/index7" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">analisi trade perdute </a>

    <br></br>
    <br></br>



    <a href="/index2" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">importa dati CSV</a>
    <a href="/index3" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">visualizza dati</a>


    <br></br>

    <a href="/index4" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi tipo
      opzione/vendita/acquisto</a>

    <br></br>

    <a href="/index23" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi delle operazioni
    </a>

    <br></br>
    <a href="/index30" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi delle perdite </a>


    <a href="/index35" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">test importazione </a>


    <br></br>

    <a href="/index42" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Analisi statistica delle operazioni
      per tipo (P/C) e per vendute/conprate </a>


  



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
  </body>

</html>